<!DOCTYPE html>
<html>
<head>
  <title>prodBoard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/prodboard.css">   
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
            <% if (url === "/products" || url.split('?')[0] === "/products") { %>                    
              <a class="nav-link active" href="/">
                <span data-feather="home"></span>
                prodboard <span class="sr-only">(current)</span>
              </a>
            <% } else { %>              
              <a class="nav-link" href="/">
                <span data-feather="home"></span>
                prodboard <span class="sr-only">(current)</span>
              </a>  
            <% } %>                          
            </li>
            <li class="nav-item">
            <% if (url === "/sellTo" || url.split('?')[0] === "/sellTo") { %>              
              <a class="nav-link active" href="/sellTo?state=product">
                <span data-feather="file"></span>
                Orders
              </a>
            <% } else { %>  
              <a class="nav-link" href="/sellTo?state=product">
                <span data-feather="file"></span>
                Orders
              </a>            
            <% } %>                          
            </li>
            <li class="nav-item">
            <% if (url === "/productsMgrs") { %>                   
              <a class="nav-link active" href="/productsMgrs">
                <span data-feather="users"></span>
                Products Managers
              </a>
            <% } else { %>  
              <a class="nav-link" href="/productsMgrs">
                <span data-feather="users"></span>
                Products Managers
              </a>            
            <% } %>                              
            </li>
            <li class="nav-item">
            <% if (url === "/teams") { %>                 
              <a class="nav-link active" href="/teams">
                <span data-feather="users"></span>
                Teams
              </a>
            <% } else { %>  
              <a class="nav-link" href="/teams">
                <span data-feather="users"></span>
                Teams
              </a>            
            <% } %>                             
            </li>
            <li class="nav-item">
            <% if (url === "/clients") { %>                  
              <a class="nav-link active" href="/clients">
                <span data-feather="users"></span>
                Clients
              </a>
            <% } else { %>    
              <a class="nav-link" href="/clients">
                <span data-feather="users"></span>
                Clients
              </a>              
            <% } %>                        
            </li>           
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Add Data</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
            <% if (url === "/products/new") { %>                  
              <a class="nav-link active" href="/products/new">
                <span data-feather="file-text"></span>
                Add Product
              </a>
            <% } else { %>   
              <a class="nav-link" href="/products/new">
                <span data-feather="file-text"></span>
                Add Product
              </a>            
            <% } %>                            
            </li>
            <li class="nav-item">
              <% if (url === "/clients/new") { %>      
              <a class="nav-link active" href="/clients/new">
                <span data-feather="file-text"></span>
                Add Client
              </a>
            <% } else { %>               
              <a class="nav-link" href="/clients/new">
                <span data-feather="file-text"></span>
                Add Client
              </a>   
            <% } %>                            
            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>DELETE Data</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="minus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
            <% if (url === "/products/delete") { %>                  
              <a class="nav-link active" href="/products/delete">
                <span data-feather="file-text"></span>
                Delete Product
              </a>
            <% } else { %>   
              <a class="nav-link" href="/products/delete">
                <span data-feather="file-text"></span>
                Delete Product
              </a>            
            <% } %>                            
            </li>
            <li class="nav-item">
              <% if (url === "/sellTo/delete") { %>      
              <a class="nav-link active" href="/sellTo/delete">
                <span data-feather="file-text"></span>
                Delete Order
              </a>
            <% } else { %>               
              <a class="nav-link" href="/sellTo/delete">
                <span data-feather="file-text"></span>
                Delete Order
              </a>   
            <% } %>                            
            </li>
          </ul>          
        </div>
      </nav>