<% include ../partials/header %>
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Team</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>name</th>
                <th>description</th>
              </tr>
            </thead>
            <tbody>
              <% if (teams) { %>  
                <% teams.forEach((team) => { %>           
                  <tr>
                    <td><%= team.name %></td>
                    <td><%= team.description %></td>
                    <td><a href="/teams/<%= team.teamId%>" class="btn btn-outline-success btn-sm">More info</a> </td>
                  </tr>
                <% }) %>  
              <% } %>                           
            </tbody>
          </table>
        </div>
      </main>
    </div>
  </div>
<% include ../partials/footer %>