<% include ../partials/header %>
     <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Select clients</h1>
        </div>
			<form class="client-form" action="/SellTo" method="POST">
				<input type="hidden" name="productId" value="<%= productId%>">
				<% let rankId = 0 %>
				<% clients.forEach((client) => { %>
					<div>					
						<input type="checkbox" name= "ids" value="<%= JSON.stringify([client.clientId, rankId])%>">  
				    	<span><%= client.name%></span>			  	
				    	<label for="startDate">startDate</label>	
				    	<input id = "startDate" type="text" name= "startDates" placeholder="yyyy-mm-dd">
				    	<label for="endDate">endDate</label>	    	
				    	<input d = "endDate" type="text" name= "endDates" placeholder="yyyy-mm-dd">
				    </div>
				    <% rankId++ %>
				<% }) %>	
				<a href="/clients/new/?productId=<%= productId%>" class="mt-1 btn btn-outline-primary btn-sm">Add Client</a> 
				<a href="/products" class="mt-1 btn btn-outline-primary btn-sm">Not yet</a> 				
				<button class="ml-1 mt-1 btn btn-outline-primary btn-sm">Add</button>   	
			</form>	
      </main>
    </div>
  </div>			
<% include ../partials/footer %>