<% include ../partials/header %>
    <div class="row">
    	<div class="col-md-1">
    	</div>
    	<div class="col-md-10"> 
		    <form class="mb-3" action="/SellTo" method="GET">
					<label for="type-select">The state of orders:</label>
					<select id="type-select" name="state">
						<% if (!state) { %>
							<option value="" selected="selected" disabled>--Please choose an option--</option>
						<% } else { %>
					        <option value="" disabled>--Please choose an option--</option>				
						<% } %>
						<% if (state === 'product') { %>
						  <option value="product" selected="selected">product</option>		
						<% } else { %>
					        <option value="product">product</option>			
						<% } %>	
						<% if (state === 'client') { %>							
					    	<option value="client" selected="selected">client</option>
						<% } else { %>		
							<option value="client">client</option>				
						<% } %>									    
					</select>   
				<button class="ml-1 btn btn-outline-primary btn-sm">Submit</button>
		    </form>

			<% if (orders) { %>
			<div class="card">
			  <div class="card-header">
			    Orders
			  </div>
			  <ul class="list-group list-group-flush">
			  	<% if (state === 'product') { %>
				  	<% orders.forEach((order) => { %>
				  	<li class="list-group-item">
				  		<strong><%= order.productId %></strong>				  		
				  		<strong><%= order.name %></strong>				  		
				  		<strong><%= order['COUNT(*)'] %></strong>				  		
				  	</li>
				   	<% }) %>  				  	
				<% } else if (state === 'client') { %>
				  	<% orders.forEach((order) => { %>	
				  	<li class="list-group-item">				  							  	
				  		<strong><%= order.clientId %></strong>				  		
				  		<strong><%= order.name %></strong>				  		
				  		<strong><%= order['COUNT(*)'] %></strong>	
				  	</li>				  		
				   	<% }) %>  				  							
				<% } else { %>	
				  	<% orders.forEach((order) => { %>
				  	<li class="list-group-item">
				  		<strong><%= order.productName %></strong>	
				  		<strong><%= order.clientName %></strong>	
				  		<span><%= moment(order.startDate).format('YYYY-MM-DD') %></span>	
				  		<span><%= moment(order.endDate).format('YYYY-MM-DD') %></span>			  		
				  		<span><%= moment(order.createDate).format('YYYY-MM-DD') %></span>			  		
				  	</li>
				   	<% }) %>  					
				<% } %>							  	
			  </ul>
			</div>		
			<% } %>
    	</div> 
    	<div class="col-md-1">
    	</div>  		
    </div>
<% include ../partials/footer %>